 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-original-wordmark colored"></i>
      <i class="devicon-css3-original-wordmark colored"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <!-- <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse. 
        Vinyl XOXO lumbersexual</p>-->
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-original colored"></i>
      <i class="devicon-java-original-wordmark colored"></i>
      <i class="devicon-nodejs-original-wordmark colored"></i>
      <!-- <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse. 
        Vinyl XOXO lumbersexual</p>-->
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-visualstudio-plain colored"></i>
      <img src="https://img.icons8.com/color/75/000000/spring-logo.png"/>
      <!-- <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse. 
        Vinyl XOXO lumbersexual</p>-->
    </div>
</div>
