<div class="user-details">
  <h1> Featured Project </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> 중고거래 사이트 "Dive" </h3>
    <ul>
      <li> 검색 기능 </li>
    </ul>
    <p>원하는 상품을 키워드로 검색</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>

  <div class="contents-right">
    <h3> 중고거래 사이트 "Dive" </h3>
    <ul>
      <li> 채팅 </li>
    </ul>
    <p>상품 구매 의사가 있는 고객이 판매자에게 채팅을 요청하여 거래 진행</p>
    <a class="project-link" href="#">Check it out</a>
  </div>

  <div class="user-projects">
    <div class="images-left">
      <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="contents-right">
      <h3> 중고거래 사이트 "Dive" </h3>
      <ul>
        <li> 비밀번호 찾기 </li>
      </ul>
      <p>새로운 비밀번호를 기재한 이메일 통해서 받아 변경</p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  
</div>
